# Types

We have seen that Python objects have a 'type':

In [2]:
type(5)

int

## Floats and integers

Python has two core numeric types, `int` for integer, and `float` for real number.

In [72]:
one=1
ten=10
one_float=1.
ten_float=10.

In [73]:
tenth= one_float/ten_float
print type(one), type(one_float)

<type 'int'> <type 'float'>

The meaning of an operator varies depending on the type it is applied to!

In [74]:
print one/ten, one_float/ten_float

0 0.1

In [75]:
print type(one/ten), type(tenth)

<type 'int'> <type 'float'>

The divided by operator when applied to floats, means divide by for real numbers. But when applied to integers, it means
divide then round down:

In [76]:
10/3

3

In [77]:
10.0/3

3.3333333333333335

In [78]:
10/3.0

3.3333333333333335

So if I have two integer variables, and I want the `float` division, I need to change the type first.
There is a function for every type name, which is used to convert the input to an output of the desired type.

In [79]:
x=float(5)
type(x)

float

In [80]:
10/float(3)

3.3333333333333335

I lied when I said that the `float` type was a real number. It's actually a computer representation of a real number
called a "floating point number". Representing $\sqrt 2$ or $\frac{1}{3}$ perfectly would be impossible in a computer, so we use a finite amount of memory to do it.

*Supplementary material*:

* https://docs.python.org/2/tutorial/floatingpoint.html
* http://floating-point-gui.de/formats/fp/
* Advanced: http://docs.oracle.com/cd/E19957-01/806-3568/ncg_goldberg.html

## Strings

Python has a built in `string` type, supporting many
useful methods.

In [87]:
given = "James"
family = "Hetherington"
full = given + " " + family

So `+` for strings means "join them together" - *concatenate*.

In [88]:
print full.upper()

JAMES HETHERINGTON

As for `float` and `int`, the name of a type can be used as a function to convert between types:

In [89]:
print ten+one

11

In [90]:
print float( str(ten)+str(one) )

101.0

We can remove extraneous material from the start and end of a string:

In [92]:
"    Hello  ".strip()

'Hello'

## Lists

Python's basic **container** type is the `list`

We can define our own list with square brackets:

In [93]:
[1, 3, 7]

[1, 3, 7]

In [94]:
type([1, 3, 7])

list

Lists *do not* have to contain just one type:

In [96]:
various_things = [1, 2, "banana", 3.4, [1,2] ]

We access an **element** of a list with an `int` in square brackets:

In [97]:
various_things[2]

'banana'

In [98]:
index = 0
various_things[index]

1

Note that list indices start from zero.

We can quickly make a list with numbers counted up:

In [102]:
count_to_five = range(5)
print count_to_five

[0, 1, 2, 3, 4]

We can use a string to join together a list of strings:

In [101]:
name = ["James", "Philip", "John", "Hetherington"]
print ",".join(name)

James,Philip,John,Hetherington

In [ ]:
And we can split up a string into a list:

In [110]:
"Ernst Stavro Blofeld".split(" ")

['Ernst', 'Stavro', 'Blofeld']

## Sequences

Many other things can be treated like `lists`. Python calls things that can be treated like lists `sequences`.

A string is one such *sequence type*

In [103]:
print count_to_five[1]
print "James"[2]

1
m

In [105]:
print count_to_five[1:3]
print "Hello World"[4:8]

[1, 2]
o Wo

In [106]:
print len(various_things)
print len("Python")

5
6

In [107]:
print "John" in name
print 9 in count_to_five

True
False

## Unpacking

Multiple values can be **unpacked** when assigning from sequences, like dealing out decks of cards.

In [1]:
mylist = ['Hello', 'World']
a, b = mylist
print b

World